<div id='topbar'>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag 'marvel_logo.png', id: :logo %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= form_tag({}, method: :get) do %>
      <div class="input-group">
            <%= text_field_tag :character, params[:character], class: 'form-control', placeholder: 'Characters...' %>
            <span class="input-group-btn">
              <%= submit_tag 'Search', class: 'btn btn-success btn-group', name: :submit %>
            </span>
          </div>
          <div class="col-md-4"></div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @comics.each do |comic| %>
    <div class="col-md-2 comic-card" style="background-image: url('<%= comic['thumbnail']['path'] %>.<%= comic['thumbnail']['extension'] %>');">
      <% if current_user.favorite_comics_ids.include?(comic['id']) %>
        <%= image_tag 'heart_on.png', class: 'favorite-icon', 'data-favorite': true, 'data-comic-id': comic['id'] %>
      <%- else %>
        <%= image_tag 'heart_off.png', class: 'favorite-icon', 'data-favorite': false, 'data-comic-id': comic['id'] %>
      <%- end %>
      <div class="info">
        <p><%= comic['title'] %></p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row pagination">
    <div class="col-md-6">
      <% if params[:page].to_i > 1 %>
        <%= link_to 'PREVIOUS PAGE', root_path(page: (params[:page] || 1).to_i - 1, character: params[:character]), class: 'btn btn-default' %>
      <%- end %>
    </div>
    <div class="col-md-6">
      <%= link_to 'NEXT PAGE', root_path(page: (params[:page] || 1).to_i + 1, character: params[:character]), class: 'btn btn-default pull-right' %>
    </div>
  </div>
</div>

<script>
  // change icon when favorite icon is hover
  $('.favorite-icon').hover(
    function() {
      $(this).attr('src', '/assets/heart_hover.png');
    }, function() {
      if($(this).attr('data-favorite') == 'true')
        var src = '/assets/heart_on.png';
      else
        var src = '/assets/heart_off.png';

      $(this).attr('src', src);
    }
  );

  $('.favorite-icon').click(function(){
    var favorite = $(this);

    if($(favorite).attr('data-favorite') == 'true'){
      var action = 'remove';
      var src = '/assets/heart_off.png';
    } else {
      var action = 'add';
      var src = '/assets/heart_on.png';
    }

    $.ajax({
      url: `${action}_favorite?comic_id=${favorite.attr('data-comic-id')}`,
      type: 'get'
    }).done(function(msg){
      if($(favorite).attr('data-favorite') == 'true'){
        $(favorite).attr('data-favorite', false);
        $(favorite).attr('src', src);
      } else {
        $(favorite).attr('data-favorite', true);
        $(favorite).attr('src', src);
      }
    }).fail(function(jqXHR, textStatus, msg){
      alert('ERROR');
      alert(`An error has occurred: ${jqXHR.responseJSON.message}`)
    });
  });
</script>